<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-SAtETl4a7IM60tyX2LyYsQL-5RLtsMA</string>
	<key>GCM_SENDER_ID</key>
	<string>189575374455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barbatechcompany.paintpro</string>
	<key>PROJECT_ID</key>
	<string>paint-pro-app</string>
	<key>STORAGE_BUCKET</key>
	<string>paint-pro-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189575374455:ios:6ad22ef91aee8369f68872</string>
</dict>
</plist>